
<div id="objects">
    <div class="folder">
        <button class="folder-title">PNG Objects</button>
        <div class="folder-content">
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/png-object-1.png")">
                <img src="@Url.Content("~/Original_WorkVersion/images/png-object-1.png")" class="preview-img">
                <span class="button-text">Parrot</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/png-object-2.png")">
                <img src="@Url.Content("~/Original_WorkVersion/images/png-object-2.png")" class="preview-img">
                <span class="button-text">Orange</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/png-object-3.png")">
                <img src="@Url.Content("~/Original_WorkVersion/images/png-object-3.png")" class="preview-img">
                <span class="button-text">Tree</span>
            </button>
        </div>
    </div>
    <div class="folder">
        <button class="folder-title">SVG Objects</button>
        <div class="folder-content">
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/1.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/1.svg")" class="preview-img">
                <span class="button-text">Sticker1</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/2.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/2.svg")" class="preview-img">
                <span class="button-text">Sticker2</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/3.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/3.svg")" class="preview-img">
                <span class="button-text">Sticker3</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/4.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/4.svg")" class="preview-img">
                <span class="button-text">Sticker4</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/5.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/5.svg")" class="preview-img">
                <span class="button-text">Sticker5</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/6.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/6.svg")" class="preview-img">
                <span class="button-text">Sticker6</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/7.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/7.svg")" class="preview-img">
                <span class="button-text">Sticker7</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/8.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/8.svg")" class="preview-img">
                <span class="button-text">Sticker8</span>
            </button>
            <button class="gallery-button" data-src="@Url.Content("~/Original_WorkVersion/images/SVG/9.svg")">
                <img src="@Url.Content("~/Original_WorkVersion/images/SVG/9.svg")" class="preview-img">
                <span class="button-text">Sticker9</span>
            </button>
        </div>
    </div>
</div>