@model PaginatedList<ProjectSearchViewModel>

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a href="@Url.Action("Index", "Search", new { page = Model.PageIndex - 1 })">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.PageIndex)
        {
            <span class="current-page">@i</span>
        }
        else
        {
            <a href="@Url.Action("Index", "Search", new { page = i })">@i</a>
        }
    }

    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("Index", "Search", new { page = Model.PageIndex + 1 })">Next</a>
    }
</div>


