@using System.Text.Encodings.Web
@inject JavaScriptEncoder Encoder
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CanvasViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["BodyClass"] = "canvas-body";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/MVC CSS_JS/detailsStyles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="background-image-div" style="position:fixed; top:0; left:0; height:100vh; width:100vw; z-index:-2; background-image: url('@Url.Content("~/Images/ProductDetailsBackGround.jpg")'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>

<hr />
<div class="card container pt-4">
    <div class="card-header bg-primary text-light ml-0 row">
        <div class="col-12 col-md-6">
            <h1 class="text-white-50">@Model.Canvas.Name</h1>
            <p class="text-warning">by @User.Identity.Name</p>
        </div>
    </div>
    <div class="card-body row container">
        <div class="container rounded p-2">
            <div class="row">
                <div class="col-8 col-lg-8">

                    <div class="row pl-2">
                        <h5 class="text-muted">Total Price: @Model.TotalPrice</h5>
                    </div>
                    <div class="row pl-2">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Width</th>
                                        <th>Height</th>
                                        <th>Fill</th>
                                        <th>Angle</th>
                                        <th>FlipX</th>
                                        <th>FlipY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var canvasObject in Model.Canvas.Objects)
                                    {
                                        <tr>
                                            <td>@canvasObject.Id</td>
                                            <td>@canvasObject.type</td>
                                            <td>@canvasObject.name</td>
                                            <td>@canvasObject.price</td>
                                            <td>@canvasObject.width</td>
                                            <td>@canvasObject.height</td>
                                            <td>@canvasObject.fill</td>
                                            <td>@canvasObject.angle</td>
                                            <td>@canvasObject.flipX</td>
                                            <td>@canvasObject.flipY</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="p-2">
                                <a id="buttonBackToList" asp-action="Index" class="btn btn-warning mb-2 p-3 fw-bold">Back to List</a>
                            </div>
                            <div class="p-2">
                                <a class="edit-link btn mb-2 p-3 fw-bold" style="background-color: blue; color: white;" data-project-id="@Model.Canvas.Id" href="javascript:void(0)">Edit</a>
                            </div>
                            <div class="p-2">
                                <a class="delete-link btn mb-2 p-3 fw-bold" style="background-color: red; color: white;" data-project-id="@Model.Canvas.Id" href="javascript:void(0)">Delete</a>
                            </div>
                            <div class="p-2">
                                <!-- Modal Trigger -->
                                <button type="button" class="btn btn-warning mb-2 p-3 fw-bold" data-toggle="modal" style="background-color: darkgreen; color: white;" data-target="#addToCartModal">
                                    Add to Cart
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                    <img src="@Model.Thumbnail" alt="@Model.Canvas.Name thumbnail" width="100%" class="rounded" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @if(!string.IsNullOrEmpty(Model.Description))
        {
            <h3>Description:</h3>
            <div class="row pl-2">
                <p class="text-secondary">@Html.Encode(Model.Description)</p>
            </div>
        }
    </div>
</div>

<div id="spinner" class="ring">
    Loading
    <span></span>
</div>

<!-- Add to Cart Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Add to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Customer" asp-action="AddToShoppingCart" asp-controller="ShoppingCart">
                    <div class="form-group">
                        <input type="hidden" id="canvasId" name="canvasId" value="@Model.Canvas.Id" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="thumbnail" name="thumbnail" value="@Model.Canvas.Thumbnail" />
                    </div>
                    <div class="form-group">
                        <label for="totalPrice" class="col-form-label">Total Price:</label>
                        <input type="text" class="form-control" id="totalPrice" name="totalPrice" value="@Model.TotalPrice" readonly>
                    </div>
                    <div class="form-group">
                        <label for="canvasName" class="col-form-label">Canvas Name:</label>
                        <input type="text" class="form-control" id="canvasName" name="canvasName" value="@Model.Canvas.Name" required>
                        <small class="form-text text-muted">You could change the canvas name...</small>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" maxlength="500" placeholder="You can add additional information here, including links to files."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Choose your Category from drop-dawn</label>
                        <div class="input-group">
                            <select class="form-control" id="category" name="category">
                                @foreach (var category in Enum.GetValues(typeof(AdvertisingAgency.Data.Data.Models.CategoryType)))
                                {
                                    <option value="@((int)category)">@category.ToString()</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@Html.Partial("Partials/_DetailsPartial")

